footer {
	padding: 40px 0;
	background: #eaeaea;
	ul {
		padding:0;
		li {
			list-style-type: none;
			display: inline;
			float: left;
			padding: 0 20px;
			border-right: 1px solid $nearBlack;
		}
		li:nth-child(1) {
			padding-left: 0;
		}
		li:last-child {
			border-right: none;
		}
	}
	.copyright {
		text-align: right;
	}
	.social {
		text-align: center;
	}
}

.cookiebanner {
	background:#434343!important;
}
